In [1]:
import pandas as pd
import numpy as np

In [2]:
books=pd.read_csv("/Users/deep/Downloads/books.csv")

In [4]:
books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,60,1618,1618,4259809,183,1400032717,9.781400e+12,Mark Haddon,2003.0,The Curious Incident of the Dog in the Night-Time,...,867553,915790,35796,21049,58117,218218,355925,262481,https://images.gr-assets.com/books/1479863624m...,https://images.gr-assets.com/books/1479863624s...
1,61,22557272,22557272,41107568,14,1594633665,9.781595e+12,Paula Hawkins,2015.0,The Girl on the Train,...,1008778,1226485,93600,27773,73897,273817,488447,362551,https://images.gr-assets.com/books/1490903702m...,https://images.gr-assets.com/books/1490903702s...
2,99,11857408,11857408,16813814,147,1612130585,9.781612e+12,E.L. James,2011.0,Fifty Shades Darker,...,552059,623340,28052,37245,58935,114203,150906,262051,https://images.gr-assets.com/books/1358266080m...,https://images.gr-assets.com/books/1358266080s...
3,112,15507958,15507958,17763198,168,670026603,9.780670e+12,Jojo Moyes,2012.0,Me Before You,...,587647,741133,71412,10346,21880,91517,249474,367916,https://images.gr-assets.com/books/1357108762m...,https://images.gr-assets.com/books/1357108762s...
4,119,38447,38447,1119185,236,038549081X,9.780385e+12,Margaret Atwood,1985.0,The Handmaid's Tale,...,607889,683564,35925,13998,32561,116975,252942,267088,https://images.gr-assets.com/books/1498057733m...,https://images.gr-assets.com/books/1498057733s...

In [8]:
#Q1 : How many unique books are present in the dataset? Evaluate based on the 'book_id' 
unique_book=np.unique(books['book_id'])
print("No of Unique books are ",len(unique_book))

No of Unique books are  1343

In [10]:
ratings=pd.read_csv("/Users/deep/Downloads/ratings.csv")

In [11]:
ratings.head()

   user_id  book_id  rating
0        9       60       5
1        9      119       4
2       15      167       5
3       15      119       5
4       18       60       3

In [13]:
# Q.2 How many unique users are present in the dataset [ratings.csv]
unique_users=np.unique(ratings['user_id'])
print("No of Unique users are ",len(unique_users))

No of Unique users are  51595

In [60]:
# Q.3 How many books do not have an original title [books.csv] ?
books['original_title'].isnull().sum()

111

In [28]:
# Q.4 Which book (original_title) has the maximum number of ratings based on ‘work_ratings_count’  [books.csv] ? 
mx=0
cnt=0
for i in books['work_ratings_count']:
    if  i>mx:
        mx=i
        cnt=cnt+1
print(books['original_title'][cnt-1])

The Girl on the Train

In [32]:
# Q.5 Which tag_id  is the most frequently used ie. mapped with the highest number of books [book_tags.csv]  ? (In case of more than one tag, mention the tag id with the least numerical value) 
book_tags=pd.read_csv("/Users/deep/Downloads/book_tags.csv")
book_tags

        goodreads_book_id  tag_id  count
0                      29   30574   5492
1                      29    8717    867
2                      29   21689    410
3                      29   15048    170
4                      29   21773    167
...                   ...     ...    ...
134257           33288638   21303      7
134258           33288638   17271      7
134259           33288638    1126      7
134260           33288638   11478      7
134261           33288638   27939      7

[134262 rows x 3 columns]

In [36]:
dic={}
for i in book_tags['tag_id']:
    if i not in dic.keys():
        dic[i]=1
    else:
        dic[i]=dic[i]+1
res=0
ans=0
for i,j in dic.items():
    if j>res:
        res=j
        ans=i
print("Most frequent tag_id is",ans)

Most frequent tag_id is 25000

In [37]:
# Q.6 Which book (original_title) has the most number of counts of tags given by the user [book_tags.csv,books.csv]  ?
new_books = books.set_index("goodreads_book_id")  
new_books1 = books.set_index("book_id")  
new_books.loc[book_tags.groupby("goodreads_book_id").agg(sum).sort_values("count", ascending = False).iloc[0].name]["original_title"]

"The Handmaid's Tale"

In [40]:
to_read=pd.read_csv("/Users/deep/Downloads/toread.csv")
# Q.7 Which book (original_title) is marked as to-read by most users [books.csv,toread.csv] ?
new_books1.loc[to_read.groupby("book_id").agg("count").sort_values("user_id", ascending = False).iloc[0].name]["original_title"]

"The Handmaid's Tale"

In [45]:
# Q.8 Which is the least used tag, i.e. mapped with the lowest number of books [book_tags.csv]   ? (In case of more than one tag, mention the tag id with the least numerical value)  
book_tags
dic={}
for i in book_tags['tag_id']:
    if i not in dic.keys():
        dic[i]=1
    else:
        dic[i]=dic[i]+1
res=1000000000000
ans=0
for i,j in dic.items():
    if j<=res:
        res=j
        ans=i
print(ans)

27939

In [48]:
#Q.9 Which book (original_title) has the minimum ‘average_rating’  [books.csv] 
def func(row):
    some = row["ratings_1"]+row["ratings_2"]+row["ratings_3"]+row["ratings_4"]+row["ratings_5"]
    other = row["ratings_1"]+2*row["ratings_2"]+3*row["ratings_3"]+4*row["ratings_4"]+5*row["ratings_5"]
    return other/some
books["avg_ratings"] = books.apply(lambda row: func(row), axis = 1)
books.iloc[books.avg_ratings.idxmin()]["original_title"]

'Parmi les dix milliers de choses'

In [62]:
#Q.10 Which book (original_title) has the least number of count of tags given by the user  [book_tags.csv,books.csv] 
new_df = book_tags.groupby(by = "goodreads_book_id", as_index = False).sum()
new_df.sort_values(by = "count")

gid = new_df.sort_values("count").iloc[0][0]

ans = list(books[books["goodreads_book_id"] == gid]["original_title"])[0]
print(ans)

After Anna

In [49]:
#Q.11 how  many tags are there in the dataset [book_tags.csv]  ?
len(book_tags.tag_id.unique())

8663

In [50]:
#Q.12 What is the average rating of all the books in the dataset based on ‘average_rating’  [books.csv]
books.avg_ratings.mean()

4.013424128513401

In [51]:
#Q.13 Find the number of books published in the year ‘2000’ based on the ‘original_publication_year’
sum(books.original_publication_year == 2000)

16

In [57]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
     |████████████████████████████████| 636 kB 6.8 MB/s eta 0:00:01
Requirement already satisfied: nltk>=3.1 in ./opt/anaconda3/lib/python3.9/site-packages (from textblob) (3.6.5)
Requirement already satisfied: click in ./opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (8.0.3)
Requirement already satisfied: joblib in ./opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in ./opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (2021.8.3)
Requirement already satisfied: tqdm in ./opt/anaconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (4.62.3)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [59]:
# Q.14 

from textblob import TextBlob
def get_polarity(list):
        return (TextBlob(list).sentiment.polarity)

books["polarized"] = books["original_title"].dropna().apply(get_polarity)
books["sentiments"] = books.polarized.apply(lambda x: "positive" if x > 0 else ("negative" if x < 0 else "neutral"))
ans = books["sentiments"].value_counts()[1]
print(ans)

142